*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
}
.flex-container{
    width: min(1400px,92%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 25px;
}
.main-title{
    font-size: 42px;
    letter-spacing: 1.5px;
}
.inbir{
    font-size: 32px;
    border: 2px solid #fff;
    padding: 12px 14px;
    border-radius: 5px;
    background: #000;
    color: #fff;
}
.submit{
    padding: 14px 25px;
    font-size: 22px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 25px;
}
.flex-container p{
    font-size: 18px;
    color: #f0f0f0;
}
.age{
    color: red;
}