*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat',sans-serif;
    background-color: #f4f4f4;
    padding: 40px 20px;
}
.container{
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
h1{
    margin-bottom: 15px;
    font-family: 45px;
    font-weight: 700;
}
input{
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 12px;
}
input:hover{
    border-color: #2563db;
}
button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    background: #2563db;
    color: white;
    margin-bottom: 15px;
}
#expenseList{
    margin-top: 25px;
    margin-bottom: 20px;
}
.expense{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 10px;
    background: #f5f5f5;
    border-radius: 8px;
}
.expense2{
    background: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3P);
}
p{
    margin-top: 15px;
    font-size: 14px;
}